


@mixin caja-pintar($color, $back-color, $border, $border-color){
    color: $color;
    background-color: $back-color;
    border: $border solid $border-color;
}

@mixin grilla(){
    display: grid;
    gap: .4rem;
}

@mixin flex-center-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin footer-general(){
    grid-area: footer;
    @include flex-center-center;
    width: 100%;

    .texto{
        text-align: left;

        font-size: $texto-general-size;
        padding: .5rem;
    }

    .logo{
        width: 30%;

        img{
            width: 100%;
        }
    }
}